<template>
  <v-app>
    <Navigation/>
    <v-main>
      <!-- Provides the application the proper gutter -->
      <v-container fluid>
        <!-- If using vue-router -->
        <router-view/>
      </v-container>
    </v-main>
    <v-footer app/>
  </v-app>
</template>

<script>
import Navigation from "./NavigationComponent";
export default {
  components: {Navigation},
  mounted() {
    // console.log('Navigation')
  },
}
</script>
