<template>
  <v-navigation-drawer app permanent dark>
    <v-list-item>
      <v-list-item-content>
        <v-btn :to="{path: '/'}">
          Home
        </v-btn>
      </v-list-item-content>
    </v-list-item>
  </v-navigation-drawer>
</template>

<script>
export default {
  name: "Navigation",

  mounted() {
    console.log('Navigation')
  },
  methods:{
  }
}
</script>

<style scoped>

</style>
