<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">Category Products View</div>

                    <div class="card-body">
                        <v-container>
                            <v-row>
                                <v-col cols="6">
                                    <v-treeview
                                            activatable
                                            color="warning"
                                            :open-on-click="true"
                                            transition
                                            :items="categoryTree"
                                    >
                                        <template slot="label" slot-scope="{ item }">
                                            <a @click="getProductsForCategoriesTree(item)">{{item.name}}
                                                ({{item.total_products}})</a>
                                        </template>

                                    </v-treeview>
                                </v-col>

                                <v-col cols="6">
                                    <v-simple-table dark>
                                        <template v-slot:default>
                                            <thead>
                                            <tr>
                                                <th class="text-left">
                                                    Name
                                                </th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr
                                                    v-for="product in products"
                                                    :key="product.name"
                                            >
                                                <td>{{ product.name }}</td>
                                            </tr>
                                            </tbody>
                                        </template>
                                    </v-simple-table>
                                </v-col>
                            </v-row>
                        </v-container>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                categoryTree: [],
                products: [],
                open: false

            }
        },
        mounted() {
            this.getCategoriesTree();
            this.getAllProducts();
        },
        methods: {
            getCategoriesTree() {
                axios.get('/categories').then(response => {
                    this.categoryTree = response.data;
                })
            },
            getProductsForCategoriesTree(categoryId) {
                axios.get('/products/category/' + categoryId.id).then(response => {
                    this.products = response.data;
                })
            },
            getAllProducts() {
                axios.get('/products').then(response => {
                    this.products = response.data;
                })
            }
        }
    }
</script>
